.left{
	padding-left: 130px;
}
.right{
	padding-right: 125px;
}
.bottom{
	padding-left: 130px;
	padding-right: 125px;
}
.icon-traffic{
	width: 15px;
	height: 15px;
}
.report{
	padding-right: 118px;
	padding-left: 118px;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.my-y-scroll1{
	height:150px;
  	overflow-y: scroll;
}
.my-y-scroll2{
	height:300px;
  	overflow-y: scroll;
}
.my-upload{
	   /*  float: right; */
}

.table>thead>tr>th {
    font-size: 12px;
}
.container {
    margin-top: 40px;
}
.load__container{
	bottom: 30px;
}

#report_table_id>thead>tr>th {
    font-size: 10px; 	
}
#report_table_id.dataTable tbody td {
    padding: 0px 12px;
    font-size: 11px; 	
}
.error-msg{
	color: #cc0000;
	display: none;
}

.a-pointer{
	cursor: pointer;
}
.ext_hide{
	display:none;
}